<ion-view view-title="Dashboard">
  <ion-content class="padding">

  <div class="card">
      <div class="item">
        <ui-gmap-google-map center="myMap.center" zoom="myMap.zoom" draggable="true" control="control" options="options">
            <ui-gmap-marker coords="myMarker.coords" options="myMarker.options" events="" idkey="myMarker.id">
            </ui-gmap-marker>
        </ui-gmap-google-map>

      </div>

        <div class="item">
          List of nearby places:
        </div>

        <div ng-repeat="place in places">
          <div class="item item-divider">
            {{place.name}}
          </div>
          <div class="item">
            {{place.vicinity}}
          </div>
        </div>
    </div>
    

     <div class="padding">
           <button ng-click="getMap()" class="button button-positive button-block button-outline">Log map object to console</button>
        </div>

    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
